{% load static %}

<article style="width: 90%; box-sizing: border-box;">
  <div class="left_info">
    <div class="avatar">
      {% if element.user.profile.avatar %}
        <img style="height: 100%; width: 100%;" src="{{ element.user.profile.avatar.url }}" />
      {% else %}
        <img src="{% static 'images/avatar.svg' %}" />
      {% endif %}
    </div>
    <div class="likes">
      <div class="img">
        <img src="{% static 'images/like.svg' %}" />
      </div>
      <div class="name4">{{ element.likes }}</div>
    </div>
  </div>
  <div class="content" style="width: 100%;">
    <div class="question">
      {{ element.text }}
    </div>
    <div class="other_info">
      <input
              type="checkbox"
      />
      <label class="name4">Лучший ответ</label>
    </div>
  </div>
</article>