{% extends 'base.html' %}
{% load static %}

{% block hrefs %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/new_question.css' %}">
{% endblock %}

{% block content %}
<div>
    <span class="header2">Новый вопрос</span>
</div>
<div>
    <p><span class="error"> </span></p>
</div>
<div class="options">
    <form method="post">
        {% csrf_token %}
        <div class="option">
            <label class="header3 h">Название</label>
            <div>
                <input
                        type="text"
                        id="title"
                        name="title"
                        placeholder="Название"
                        required
                />
            </div>
        </div>
        <div class="option">
            <label class="header3 h">Текст</label>
            <div>
                <textarea id="text" name="text" placeholder="Текст"></textarea>
            </div>
        </div>
        <div class="option">
            <label class="header3 h">Теги</label>
            <div>
                <input
                        type="text"
                        id="tags"
                        name="tags"
                        placeholder="Tag1, Tag2"
                />
            </div>
        </div>
        {% if error %}
            <div class="option">
                <div>
                    {{ error }}
                </div>
            </div>
        {% endif %}
        <div class="option">
            <div class="h"></div>
            <div class="option_button">
                <button class="blue_button" type="submit">
                    Опубликовать
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}