{% extends 'base.html' %}
{% load static %}

{% block hrefs %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/question.css' %}">
{% endblock %}

{% block content %}
<article class="full_question">
  <div class="top_info">
    <div class="avatar">
      {% if data.question.user.profile.avatar %}
        <img style="height: 100%; width: 100%;" src="{{ data.question.user.profile.avatar.url }}" />
      {% else %}
        <img src="{% static 'images/avatar.svg' %}" />
      {% endif %}
    </div>
    <div class="user_info">
      <div class="bold_text3">{{ data.question.user.first_name }} {{ data.question.user.last_name }}</div>
      <div class="comm_info">
        <div class="likes">
          <script
                  language="JavaScript"
                  type="text/javascript"
                  src="{% static 'js/main_js.js' %}"
          >
          </script>
          <button
                  type="submit"
                  data-object="question"
                  {% if data.question.is_my_like%}
                    data-action="up-vote"
                  {% else %}
                    data-action="down-vote"
                  {% endif %}
                  data-user="{{ data.question.user.id }}"
                  data-id="{{ data.question.id }}"
                  style="background: white; border: none;"
                  class="vote"
          >
            <div class="img">
              <img src="{% static 'images/like.svg' %}" />
            </div>
          </button>
          <div class="name4" style="margin-right: 1em;">{{ data.question.likes }}</div>
        </div>
        <div class="data">
          {{ data.question.date }}
        </div>
      </div>
    </div>
  </div>
  <hr></hr>
  <div class="content">
    <div>
      <span class="bold_text2">{{ data.question.title }}</span>
    </div>
    <div class="question">
      {{ data.question.text }}
    </div>
    <div class="other_info">
      <div>
        <span>Теги:</span>
        {% for tag in data.question.tags.all %}
        <a href="{% url 'tag' tag.name %}" class="tag">{{ tag.name }}</a>
        {% empty %}
          <span>Тегов нет</span>
        {% endfor %}
      </div>
    </div>
  </div>
</article>
<div class="question_boxes">
    <div>
      <p class="name3">Всего ответов: {{ data.full_count }}</p>
    </div>
    {% for answer in data.answers %}
      {% include 'answer.html' with element=answer %}
    {% empty %}
      <p class="header2">Ответов нет</p>
    {% endfor %}
</div>
<a href="#new_q"></a>
{% include 'paginator.html' with page_obj=data.answers url_name='question' parameter=data.question.id %}
<hr></hr>
{% if user.is_authenticated %}
  <form class="answer_form" method="post">
    {% csrf_token %}
    <div class="text_form">
      {{ data.form }}
    </div>
    <div>
      <button
              class="blue_button"
              type="submit"
      >Ответить</button>
    </div>
  </form>
{% endif %}
{% endblock %}