{% extends 'base.html' %}
{% load static %}

{% block hrefs %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/new_question.css' %}">
{% endblock %}

{% block content %}
<div>
  <span class="header2">Регистрация</span>
</div>
<div>
  <p><span class="error"></span></p>
</div>
<div class="options">
    <form method="post" class="option" style="display: block; font-size: 0.9rem;" novalidate>
      {% csrf_token %}
      <div>{{ form.as_p }}</div>
        {% if error %}
    <div class="error" style="display:block; margin-bottom: 1rem;">
        {{ error }}
    </div>
        {% endif %}
      <button type="submit" class="blue_button">Регистрация</button>
    </form>
</div>
{% endblock %}