{% extends 'base.html' %}
{% load static %}

{% block hrefs %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/new_question.css' %}">
{% endblock %}

{% block content %}
<div>
  <span class="header2">Пользователь: </span><span class="text2">{{ user.first_name }} {{ user.last_name }}</span>
</div>
<div class="options">
  <div class="option">
    <div class="header3 h">Логин</div>
    <div>
      <input
              type="text"
              value="{{ user.username }}"
      />
    </div>
  </div>
  <div class="option">
    <div class="header3 h">Почта</div>
    <div>
      <input
              type="text"
              value="{{ user.email }}"
      />
    </div>
  </div>
  <div class="option">
    <div class="header3 h">Имя</div>
    <div>
      <input
              type="text"
              value="{{ user.first_name }}"
      />
    </div>
  </div>
  <div class="option">
    <div class="header3 h">Фамилия</div>
    <div>
      <input
              type="text"
              value="{{ user.last_name }}"
      />
    </div>
  </div>
  <div class="option">
    <div class="header3 h">Аватар</div>
    <div class="change_avatar">
      <div>
        {% if profile.avatar %}
        <img src="{{ profile.avatar.url }}" />
        {% else %}
        <img src="{% static 'images/avatar.svg' %}" />
        {% endif %}
      </div>
    </div>
  </div>
  <div class="option">
    <div class="h"></div>
    <div class="option_button">
      <a href="{% url 'edit_user' %}">
        <input
                class="blue_button"
                type="button"
                value="Изменить"
        />
      </a>
    </div>
  </div>
  <div class="option">
    <div class="h"></div>
    <div class="option_button">
      <a href="{% url 'logout' %}">
        <input
                class="blue_button"
                type="button"
                value="Выйти"
        />
      </a>
    </div>
  </div>
</div>
{% endblock %}